@import url(https://fonts.googleapis.com/css?family=Inter);

.dark-active {
  margin: auto;
  width: 550px;
  background: #1F2937;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Inter';
}

.main {
  background: linear-gradient(250deg, #585DFE 0%, #FB3796 100%);
  border: 1px solid;
}

.main h2 {
  margin-top: 50px;
}

.main h1 {
  margin-top: 25px;
  font-size: 5em;
  height: 100px;
}

form {
  margin-bottom: 25px;
}

form input {
	height: 25px;
	font-size: 1.2em;
}

.results-volume,
.results-length,
.results-mass {
  margin-top: 30px;
}

.results-length {
  margin-bottom: 30px;
}

.results h3 {
	margin-bottom: 5px;
}

.results p {
  margin-top: 5px;
  color: #ECF0F1;
}

